sample/src/main/mule/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e73abf91-cdd2-49ef-bc82-013f4031d8e9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleFlow" doc:id="02bc8732-67ea-4132-9644-00f18902c69e" >
		<http:listener doc:name="Listener" doc:id="23c9f2ae-ec70-4740-bdca-b098410549c9" path="/test" config-ref="HTTP_Listener_config"/>
		<set-payload value='#["Hello world thanks for calling this API"]' doc:name="Set Payload" doc:id="5420145d-1bce-4961-be26-5899e5a7c86e" />
		<logger level="INFO" doc:name="Logger" doc:id="330d8990-8090-4d22-bd9d-0d059949e4f1" message="#[payload]"/>
	</flow>
</mule>
